{% extends 'base.html' %}

{% block content %}



{% for item in items %} 



<div class="card" style="width: 18rem;">
	<img class="card-img-top" src="{{ item.image }}" alt="powerprogrammer">
	<div class="card-body text-dark">
	  <h5 class="card-title text-dark"> {{ item.price }}{{ item.color }} </h5>
	  <p class="card-text text-dark">{{ item.description }} </p>

	

	  <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
		Remove Item from Cart
	</button>
	
	<!-- Modal -->
	<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
		<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
			<h5 class="modal-title" id="deleteModalLabel">{{ item.color }}</h5>
			<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
			Are you sure you would like to delete {{ item.color }} from your cart? 
			</div>
			<div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
			<form action="{{ url_for('remove_item', item_id=item.id) }}" method="post">
				<input type="submit" class="btn btn-danger" value="Yes I'm Sure">
			</form>   
			</div>
		</div>
		</div>   
	</div>
</div>


{% endfor %}


{% endblock %}


		
