{% extends 'base.html' %}


{% block content %}


<div class="card" style="width: 16rem;">
    <img class="card-img-top" src="{{ ranger.image }}" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title text-dark">{{ ranger.color }} <br> {{ ranger.skill }} <br> {{ ranger.price }}</h5>
        <p class="card-text text-dark"> {{ ranger.description }} <br><br> </p>
    </div>
    <div class="card-body">
     <a href="/cart" class="card-link">Add to Cart</a> 
    </div>
</div>


{% endblock %}